body {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    padding-top: 2%;
    text-align: center;
}
.nav-ul {
  display: inline-block;
  margin-left: -30px;
}

.nav-li {
  display: inline-block;
  padding-right: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5c5c5c;
}

.jumbotron {
    width: 100vw;
    margin-left: -15px;
    height: 400px;
    background-image: url("/../img/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}


.jumbotron h1 {
    font-size: 75px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 15px;
    padding-top: 5%;
    color: white;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
}

.jumbotron h4 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: white;
    letter-spacing: 5px;
}

.about-div {
    text-align: center;
    height: 200px;
}

.about-div h3 {
    padding: 3%;
}

.listing-div {
    text-align: center;
}

.listing-div h3 {
    font-size: 26px;
}

.listing-div p {
    font-size: 16px;
}

.add-form {
    text-align: center;
}

.add-form input {
    display: inline-block;
}

.add-form button {
    display: inline-block;
}
